<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcJbfkIZy89HfdkzZPvUuaCgRnzlG5b_8</string>
	<key>GCM_SENDER_ID</key>
	<string>557524235019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soogil.basketball.record</string>
	<key>PROJECT_ID</key>
	<string>basketball-record-82584</string>
	<key>STORAGE_BUCKET</key>
	<string>basketball-record-82584.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557524235019:ios:d35c14baad9cfb584e680e</string>
</dict>
</plist>